[submodule "vim/pack/marcin/start/gitgutter"]
	path = vim/pack/marcin/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/marcin/start/fzf"]
	path = vim/pack/marcin/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/marcin/start/fzf.vim"]
	path = vim/pack/marcin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/marcin/start/nerdtree"]
	path = vim/pack/marcin/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/marcin/start/vim-airline"]
	path = vim/pack/marcin/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "tcomment"]
	path = tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/pack/marcin/start/tcomment"]
	path = vim/pack/marcin/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
